.Crash {
    background-image: url(../img/1366_2000.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.titulocrash {
    color: white;
    background-color: rgba(0, 0, 0, 0.26);
    text-align: center;
}

.foto1 {
    margin: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.26);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.foto2 {
    margin: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.foto3 {
    margin: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.foto4 {
    margin: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fotos {
    width: 250px;
    height: 250px;
}

.slide {
    img {
        height: 65vh;
    }
    margin-top: 10px;
}

